/* Styling rules for elements  */

body {
  /* Typography */
  font-family: "Catamaran", sans-serif;
  line-height: 150%;
  color: #1b1b1b;
}

h2 {
  /* Box-Model */
  margin-top: 0;
  padding-bottom: 0px;

  /* Typography */
  font-size: 30px;
  text-align: left;
}

p {
  /* Typography */
  font-size: 15.5px;
  text-align: justify;
  line-height: 21px;
}

h3 {
  /* Box-Model */
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 0px;

  /* Typography */
  font-size: 20px;
  text-align: left;
  text-decoration: underline;
}

footer {
  /* Box-Model */
  max-height: 55px;

  /* Typography */
  color: #faf9f8;
}
